.App {
  text-align: center;
}

.container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.item{
  flex: 1;
  padding: 30px;
  position: relative;
  border: 1px solid goldenrod;
  overflow: hidden;
  
}

.overlay{
  transition: bottom ease .5s;
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  opacity: 0.6;
  background-color: skyblue;
}

.item:hover .overlay{
  opacity: .6;
  bottom: 0;
}

@media only screen and (max-width: 600px){
  .container{
    flex-direction: column;
  }
}